{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    ["@babel/plugin-proposal-object-rest-spread"],
    ["module-resolver", {
      "alias": {
        "alpheios-data-models": "./node_modules/alpheios-core/packages/data-models/dist/alpheios-data-models.js",
        "alpheios-client-adapters": "./node_modules/alpheios-core/packages/client-adapters/dist/alpheios-client-adapters.js",
        "alpheios-messaging": "./node_modules/alpheios-messaging/dist/dev/alpheios-messaging.js"
      }
    }]
  ]
}