.alpheios-popup.alpheios-color_schema_dark_class {
	background: $alpheios-color_schema_dark_background;
	color: $alpheios-color_schema_dark_color;

	.alpheios-popup__header-selection,
	.alpheios-definition__text,
	.alpheios-morph__lexemes {
		color: $alpheios-color_schema_dark_color;
	}
	.alpheios-morph__linkedattr,
	.alpheios-popup__providers-link {
		color: $alpheios-color_schema_dark_link_color;
	}
	.uk-button-primary {
		background-color: $alpheios-color_schema_dark_color;
		color: $alpheios-toolbar-active-color;
		font-weight: bold;
	}
	.alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font {
		background-color: $alpheios-color_schema_dark_color;
		color: $alpheios-color_schema_dark_background;		
	}
	.alph_tooltip .tooltiptext {
		background-color: $alpheios-color_schema_dark_color;
		color: $alpheios-color_schema_dark_background;
	}
	.alph_tooltip-top::after {
		border-color: $alpheios-color_schema_dark_color transparent transparent transparent;
	}
	.alph_tooltip-top-right::after {
		border-color: $alpheios-color_schema_dark_color transparent transparent transparent;
	}
	.alph_tooltip-right::after {
		border-color: transparent $alpheios-color_schema_dark_color transparent transparent;
	}
	.alph_tooltip-bottom::after {
		border-color: transparent transparent $alpheios-color_schema_dark_color transparent;
	}
	.alph_tooltip-bottom-right::after {
		border-color: transparent transparent $alpheios-color_schema_dark_color transparent;
	}
	.alph_tooltip-left::after {
		border-color: transparent transparent transparent $alpheios-color_schema_dark_color;
	}
}

.alpheios-panel.alpheios-color_schema_dark_class {
	background: $alpheios-color_schema_dark_background;
	color: $alpheios-color_schema_dark_color;
}

.alpheios-color_schema_dark_class {
	&.alpheios-popup.alpheios-font_medium_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-medium_font,
	&.alpheios-panel.alpheios-font_medium_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-medium_font {
	    background: $alpheios-toolbar-active-color;
	    color: $alpheios-color_schema_dark_color;
	}

	&.alpheios-popup.alpheios-font_small_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-small_font,
	&.alpheios-panel.alpheios-font_small_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-small_font {
	    background: $alpheios-toolbar-active-color;
	    color: $alpheios-color_schema_dark_color;
	}

	&.alpheios-popup.alpheios-font_large_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-large_font,
	&.alpheios-panel.alpheios-font_large_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-large_font {
	    background: $alpheios-toolbar-active-color;
	    color: $alpheios-color_schema_dark_color;
	}
}
