div.alpheios-color_schema_dark_class {
	background: $alpheios-color_schema_dark_background;
	color: $alpheios-color_schema_dark_color;

	.uk-form-label,
	h3,
	.alpheios-info .alpheios-info__helptext p {
		color: $alpheios-color_schema_dark_color;
	}
}