.alpheios-popup {
	&.alpheios-color_schema_dark_class {
		background: #282828;
		color: #fff;

		.alpheios-popup__header-selection,
		.alpheios-definition__text,
		.alpheios-morph__lexemes {
			color: #f2f2f2;
		}
		.alpheios-morph__linkedattr,
		.alpheios-popup__providers-link {
			color: #b1d1d7;
		}
		.uk-button-primary {
			background-color: #fff;
    		color: #4e6476;
		}
		.alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font {
			background-color: #fff;
    		color: #4e6476;		
    	}
	}
	&.alpheios-color_schema_light_class {
		background: #fff;
		color: #666;

		.alpheios-popup__header-selection,
		.alpheios-definition__text,
		.alpheios-morph__lexemes {
			color: #666;
		}
		.alpheios-morph__linkedattr,
		.alpheios-popup__providers-link {
			color: #3e8d9c;
		}
		.uk-button-primary {
			background-color: #4e6476;
    		color: #fff;
		}
		.alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font {
			color: #fff;
    		background: #4e6476;		
    	}
	}
}

.alpheios-color_schema_dark_class {
	&.alpheios-popup.alpheios-font_medium_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-medium_font,
	&.alpheios-panel.alpheios-font_medium_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-medium_font {
	    background: $alpheios-toolbar-active-color;
	    color: #fff;
	}

	&.alpheios-popup.alpheios-font_small_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-small_font,
	&.alpheios-panel.alpheios-font_small_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-small_font {
	    background: $alpheios-toolbar-active-color;
	    color: #fff;
	}

	&.alpheios-popup.alpheios-font_large_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-large_font,
	&.alpheios-panel.alpheios-font_large_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-large_font {
	    background: $alpheios-toolbar-active-color;
	    color: #fff;
	}
}
