.alpheios-popup.alpheios-color_schema_dark_class,
.alpheios-panel.alpheios-color_schema_dark_class {
	background: $alpheios-color_schema_dark_background;
	color: $alpheios-color_schema_dark_color;

	.alpheios-popup__header-selection,
	.alpheios-definition__text,
	.alpheios-morph__lexemes {
		color: $alpheios-color_schema_dark_color;
	}
	.alpheios-morph__linkedattr,
	.alpheios-popup__providers-link {
		color: $alpheios-color_schema_dark_link_color;
	}
	.uk-button-primary {
		background-color: $alpheios-color_schema_dark_color;
		color: $alpheios-toolbar-active-color;
		font-weight: bold;
	}
	.uk-form-label,
	.alpheios-info, 
	.alpheios-info .alpheios-info__helptext p,
	h3 {
		color: $alpheios-color_schema_dark_color;
	}
	.infl-cell,
	.infl-table {
		border-color: $alpheios-color_schema_dark_table_border;
	}
	.infl-suff--suffix-match {
	    color: $alpheios-toolbar-active-color;
	}
    .infl-cell--hl {
        background: $alpheios-color_schema_dark_background_hover;
    }
}

.alpheios-color_schema_dark_class {
	&.alpheios-font_medium_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-medium_font{
	    background: $alpheios-toolbar-active-color;
	    color: $alpheios-color_schema_dark_color;
	}

	&.alpheios-font_small_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-small_font {
	    background: $alpheios-toolbar-active-color;
	    color: $alpheios-color_schema_dark_color;
	}

	&.alpheios-font_large_class .alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font.alpheios-large_font {
	    background: $alpheios-toolbar-active-color;
	    color: $alpheios-color_schema_dark_color;
	}
	.alpheios-skin_panel ul.alpheios-skin_properties li.alpheios-font {
		background-color: $alpheios-color_schema_dark_color;
		color: $alpheios-color_schema_dark_background;		
	}
}

.alpheios-color_schema_dark_class {
	.alph_tooltip .tooltiptext {
		background-color: $alpheios-color_schema_dark_color;
		color: $alpheios-color_schema_dark_background;
	}
	.alph_tooltip-top::after {
		border-color: $alpheios-color_schema_dark_color transparent transparent transparent;
	}
	.alph_tooltip-top-right::after {
		border-color: $alpheios-color_schema_dark_color transparent transparent transparent;
	}
	.alph_tooltip-right::after {
		border-color: transparent $alpheios-color_schema_dark_color transparent transparent;
	}
	.alph_tooltip-bottom::after {
		border-color: transparent transparent $alpheios-color_schema_dark_color transparent;
	}
	.alph_tooltip-bottom-right::after {
		border-color: transparent transparent $alpheios-color_schema_dark_color transparent;
	}
	.alph_tooltip-left::after {
		border-color: transparent transparent transparent $alpheios-color_schema_dark_color;
	}
}