@mixin panel-font-class($baseFontSize) {
    font-size: $baseFontSize;

    .uk-form-label {
    	font-size: $baseFontSize * 0.85;
    }

    .uk-h3, h3 {
    	font-size: $baseFontSize * 1.18;
    }

    .alpheios-info .alpheios-info__versiontext,
    .alpheios-info__currentlanguage {
    	font-size: $baseFontSize * 0.675;
    }

    .alpheios-info .alpheios-info__helptext p {
    	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    	font-size: $baseFontSize;
    }

    .infl-cell {
    	font-size: $baseFontSize * 0.75;
    }

    .uk-select.alpheios-inflections__view-selector {
    	font-size: $baseFontSize * 0.675;
    }
    .uk-input, .uk-select:not([multiple]):not([size]) {
    	height: $baseFontSize * 2.5;
    }
    .alpheios-panel__header-action-btn,
    .alpheios-panel__header-action-btn.active:hover,
    .alpheios-panel__header-action-btn.active:focus,
    .alpheios-panel__header-nav-btn {
        width: $baseFontSize * 1.25;
        height: $baseFontSize * 1.25;
        margin: 25px - $baseFontSize 31px - $baseFontSize;

        svg {
          width: $baseFontSize * 1.25;
          height: $baseFontSize * 1.25;
        }
    }
}

.auk.alpheios-panel.alpheios-font_medium_class {
    @include panel-font-class($alpheios-base-font-size);
}
.auk.alpheios-panel.alpheios-font_small_class {
    @include panel-font-class($alpheios-small-font-size);
}
.auk.alpheios-panel.alpheios-font_large_class {
    @include panel-font-class($alpheios-large-font-size);
}