@mixin panel-font-class($baseFontSize) {
    font-size: $baseFontSize;

    .alpheios-panel__header {
    	.alpheios-panel__header-logo-img {
    		height: $baseFontSize * 1.25;
    		margin: 10px 0;
    	}

		.alpheios-panel__header-nav-btn,
		.alpheios-panel__header-action-btn {
		    width: $baseFontSize * 1.25;
		    height: $baseFontSize * 1.25;
		    margin: 10px;
		    padding-top: 0;
		}
    }

    .alpheios-panel__tab-panel {
    	padding: $baseFontSize * 1.25;
    }

    .alpheios-panel__options-item {
    	.uk-form-label {
    		font-size: $baseFontSize * 0.875;
    	}
    	.uk-select:not([multiple]):not([size]) {
    		height: $baseFontSize * 2.5;
    	}
    }
}

.auk.alpheios-panel.alpheios-font_medium_class {
    @include panel-font-class($alpheios-base-font-size);

   	grid-template-rows: 40px 20px auto 60px;
}
.auk.alpheios-panel.alpheios-font_small_class {
    @include panel-font-class($alpheios-small-font-size);
   	grid-template-rows: 35px 20px auto 60px;
}
.auk.alpheios-panel.alpheios-font_large_class {
    @include panel-font-class($alpheios-large-font-size);
   	grid-template-rows: 45px 20px auto 60px;
}
