@mixin popup-font-class($baseFontSize) {
    font-size: $baseFontSize;

    /**** header part ****/
    .alpheios-popup__header {
        flex: 0 0 $baseFontSize * 3;
    }

    .uk-button.alpheios-popup__more-btn,
    .alpheios-lookup_form .uk-button {
        font-size: 0.675 * $baseFontSize;
        padding: 0 $baseFontSize * 0.85;
        line-height: $baseFontSize * 0.75 + $baseFontSize;
    }

    .alpheios-popup__header-selection {
        font-size: $baseFontSize;
    }

    /***** reskin panel *****/
    $baseSize: $baseFontSize + 12px;
    .alpheios-skin_panel ul.alpheios-skin_properties {
        li {
            font-size: $baseFontSize;

            width: $baseSize;
            height: $baseSize;
            line-height: $baseSize;
            border-radius: $baseSize/2;

            &.alpheios-small_font {
                font-size: $baseFontSize * 0.8;
                width: $baseSize * 0.8;
                height: $baseSize * 0.8;
                line-height: $baseSize * 0.8;
                border-radius: $baseSize * 0.8 * 0.5;
            }
            &.alpheios-large_font {
                font-size:$baseFontSize * 1.2;
                width: $baseSize * 1.2;
                height: $baseSize * 1.2;
                line-height: $baseSize * 1.2;
                border-radius: $baseSize * 1.2;
            }
        }
    }

    .alpheios-morph__dictentry {
        .alpheios-morph__listitem {
            font-size:$baseFontSize * 1.1;
        }
        .alpheios-morph__morphdata span,
        .alpheios-morph__definition span,
        .alpheios-lemma__translations span {
            font-size:$baseFontSize * 0.875;
        }
        .alpheios-morph__inflections {
            .alpheios-morph__inflset span {
                font-size:$baseFontSize * 0.875;
            }
        }
        .lemma_index {
            width: $baseFontSize * 1.4;
            height: $baseFontSize * 1.4;
            border-radius: $baseFontSize * 1.4;
            font-size:$baseFontSize;
        }
    }

    .morph-inner-v1 .alpheios-morph__dictentry {
        .principal_parts {
            font-size:$baseFontSize * 1.1;
        }
        .feature_extras,
        .feature_source {
            font-size:$baseFontSize * 0.875;
        }
    }

    .morph-inner-v2 .alpheios-morph__dictentry {
        .alpheios-morph__inflections {
            .alpheios-morph__inflset .alpheios-morph__formtext {
                font-size:$baseFontSize * 1.1;
            }
        }
        .alpheios-morph__listitem {
            font-size:$baseFontSize * 0.875;
        }
    }

    /******** footer **********/
    .alpheios-popup__providers-link {
        font-size: $baseFontSize * 0.675;
    }

    .alpheios-lookup_form {
        margin-top: $baseFontSize  * 0.875;
        .uk-input {
            font-size: $baseFontSize * 0.875;
            height: $baseFontSize * 0.875 * 2 + 2;
        }
    }

    /******* tooltip ********/
    .alph_tooltip .tooltiptext {
        font-size: $baseFontSize * 0.75;
        width: $baseFontSize * 7.5;
    }
}

.auk.alpheios-popup.alpheios-font_medium_class {
    @include popup-font-class($alpheios-base-font-size);
}
.auk.alpheios-popup.alpheios-font_small_class {
    @include popup-font-class($alpheios-small-font-size);
}
.auk.alpheios-popup.alpheios-font_large_class {
    @include popup-font-class($alpheios-large-font-size);
}
