.auk.alpheios-popup.alpheios-font_large_class {
	font-size: $alpheios-large-font-size;

    .uk-button.alpheios-popup__more-btn {
        font-size: 0.675 * $alpheios-large-font-size;
        padding: 0 18px;
    }
}
