.auk.alpheios-popup.alpheios-font_large_class {
	font-size: $alpheios-large-font-size;

	.alpheios-popup__header {
		flex: 0 0 $alpheios-large-font-size * 3;
	}

    .uk-button.alpheios-popup__more-btn,
    .alpheios-lookup_form .uk-button {
        font-size: 0.675 * $alpheios-large-font-size;
        padding: 0 $alpheios-large-font-size * 0.85;
        line-height: $alpheios-large-font-size * 0.75 + $alpheios-large-font-size;
    }

    .alpheios-popup__header-selection {
    	font-size: $alpheios-large-font-size;
    }
}
