.auk.alpheios-popup.alpheios-font_medium_class {
	font-size: $alpheios-base-font-size;

	.alpheios-popup__header {
		flex: 0 0 $alpheios-base-font-size * 2.8;
	}

    .uk-button.alpheios-popup__more-btn,
    .alpheios-lookup_form .uk-button {
        font-size: 0.675 * $alpheios-base-font-size;
        padding: 0 $alpheios-base-font-size * 0.85;
        line-height: $alpheios-base-font-size * 0.85 * 2 + $alpheios-base-font-size;
    }

    .alpheios-popup__header-selection {
    	font-size: $alpheios-base-font-size;
    }
}
