.auk.alpheios-popup.alpheios-font_small_class {
	font-size: $alpheios-small-font-size;

    .uk-button.alpheios-popup__more-btn {
        font-size: 0.675 * $alpheios-small-font-size;
        padding: 0 0.72 * $alpheios-small-font-size;
    }
}
