.auk.alpheios-popup.alpheios-font_small_class {
	font-size: $alpheios-small-font-size;

	.alpheios-popup__header {
		flex: 0 0 40px;
	}

    .uk-button.alpheios-popup__more-btn,
    .alpheios-lookup_form .uk-button {
        font-size: 0.675 * $alpheios-small-font-size;
        padding: 0 12px;
        line-height: 24px;
    }

    .alpheios-popup__header-selection {
    	font-size: $alpheios-small-font-size;
    }
}
