.auk.alpheios-popup.alpheios-font_small_class {
	font-size: $alpheios-small-font-size;

    .uk-button.alpheios-popup__more-btn,
    .alpheios-lookup_form .uk-button {
        font-size: 0.675 * $alpheios-small-font-size;
        padding: 0 12px;
        line-height: 24px;
    }
}
